/*
Copyright © 2013 Sara Soueidan

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Fonts*/
@font-face {
    font-family: 'aller_rg-webfont';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_bd-webfont';
    src: url('../fonts/aller_bd-webfont.eot');
    src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_bd-webfont.woff') format('woff'),
         url('../fonts/aller_bd-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.flexbox {      
  display: -webkit-flex;        
  display: -ms-flexbox;     
  display: flex;
  overflow: hidden;
}
.flexbox .col {
  flex: 1;
}
.flex-vcenter {
	display: flex;
 	flex-direction: column;
	justify-content: center;
}
body {
    background: none repeat scroll 0% 0% #E6E6E6;
}

.navbar {
  min-height: inherit;
 }
.navbar-nav>li>a {
  padding-right: 0px;
  line-height: 5px;
}

header.customHeader {
  /* height: 100px; */
  width: 100%;
  float: left;
  background: #c72027;
  min-height: inherit;
  margin-top: 36px;
  margin-bottom: 30px;
  padding-right: 25px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
}
header.customHeader .logoWrapper {
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  float: left;
  margin: 0;
}
header.customHeader .institute {
  width: 200px;
}
header.customHeader h1 {
  text-align: center;
  float: right;
  color: #fff;
  margin-top: 4px;
  font-family: 'aller_rg-webfont';
  padding-right: 0;
  padding-left: 0;
  font-size: 26px;
}
.userContainer {
  float: right;
  padding: 0 0 0 25px;
  clear: both;
}
.userContainer .userImg {
  width: 55px;
  height: 55px;
  overflow: hidden;
  float: right;
}
.userContainer .userImg img {
  width: 100%;
}
.userContainer .detailWrapper {
  float: right;
}
.userContainer .detailWrapper h2, .userContainer .detailWrapper legend {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
  font-family: 'aller_rg-webfont';
  font-size: 18px;
  padding: 5px 10px 0 0;
}
.userContainer .detailWrapper p {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #fff;
  font-family: 'aller_rg-webfont';
  font-size: 12px;
  padding: 0 10px 0 0;
}


.container, .container-fluid {
	min-height: 100%;
}

section.container-fluid {
	margin-bottom: 30px;
}

.page-body {
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	-webkit-animation: start 1s ease-out forwards;
  -o-animation: start 1s ease-out forwards;
  animation: start 1s ease-out forwards;
}

.slidePageInFromLeft {
  -webkit-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
  -o-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
  animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards
}

.openpage {
  -webkit-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  -o-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
  animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards
}

.slidePageBackLeft {
  opacity: 1;
  left: 0;
  -webkit-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
  -o-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
  animation: slidePageBackLeft .8s ease-out 1 normal forwards
}

.slidePageLeft {
  opacity: 1;
  -webkit-transform: rotateY(0) translateZ(0);
  -ms-transform: rotateY(0) translateZ(0);
  -o-transform: rotateY(0) translateZ(0);
  transform: rotateY(0) translateZ(0);
  -webkit-animation: slidePageLeft .8s ease-out 1 normal forwards;
  -o-animation: slidePageLeft .8s ease-out 1 normal forwards;
  animation: slidePageLeft .8s ease-out 1 normal forwards
}

.fadeOutback {
  -webkit-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
  -o-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
  animation: fadeOutBack 0.3s ease-out 1 normal forwards
}

.fadeInForward-1,
.fadeInForward-2,
.fadeInForward-3 {
  opacity: 0;
  -webkit-transform: translateZ(-5em) scale(0.75);
  -ms-transform: translateZ(-5em) scale(0.75);
  -o-transform: translateZ(-5em) scale(0.75);
  transform: translateZ(-5em) scale(0.75);
  -webkit-animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
  -o-animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
  animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards
}

.fadeInForward-2 {
  -webkit-animation-delay: .55s;
  -o-animation-delay: .55s;
  animation-delay: .55s
}

.fadeInForward-3 {
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s
}

@keyframes fadeOutBack {
  0% {
    -webkit-transform: translateX(-2em) scale(1);
    -ms-transform: translateX(-2em) scale(1);
    -o-transform: translateX(-2em) scale(1);
    transform: translateX(-2em) scale(1);
    opacity: 1
  }

  70% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    -ms-transform: translateZ(-5em) scale(0.6);
    -o-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  95% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    -ms-transform: translateZ(-5em) scale(0.6);
    -o-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  100% {
    -webkit-transform: translateZ(-5em) scale(0);
    -ms-transform: translateZ(-5em) scale(0);
    -o-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }
}

@keyframes fadeInForward {
  0% {
    -webkit-transform: translateZ(-5em) scale(0);
    -ms-transform: translateZ(-5em) scale(0);
    -o-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    opacity: 1
  }
}

@keyframes rotatePageInFromRight {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    -ms-transform: rotateY(-90deg) translateZ(5em);
    -o-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }
}

@keyframes slidePageLeft {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

@keyframes slidePageInFromLeft {
  0% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@keyframes slidePageBackLeft {
  0% {
    opacity: 1;
    left: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
  }

  10% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9)
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%
  }
}

/*======================= media queries for animations =======================*/

@media screen and (min-width: 64em) {
@keyframes fadeInForward {
    80% {
      opacity: 0.9
    }

    100% {
      -webkit-transform: translateZ(0) scale(1) translateX(-2em);
      -ms-transform: translateZ(0) scale(1) translateX(-2em);
      -o-transform: translateZ(0) scale(1) translateX(-2em);
      transform: translateZ(0) scale(1) translateX(-2em);
      opacity: 1
    }
}
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after {
  clear: both
}

.clearfix {
  *zoom: 1
}

/*html {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #eee;
  background: url(../images/1.png) left top no-repeat;
  background-size: 100% 100%
}

ul {
  list-style-type: none
}

header {
  background-color: rgba(0,0,0,0.2);
  height: 35px;
  line-height: 35px;
  padding: 0 30px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 17px
}*/

.demo-wrapper {
  padding: 2em .5em;
  width: 100%;
  height: 100%;
  -webkit-perspective: 3300px;
  -ms-perspective: 3300px;
  -o-perspective: 3300px;
  perspective: 3300px;
  position: relative
}

.dashboard {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  opacity: 0;
  -webkit-animation: start 1s ease-out forwards;
  -o-animation: start 1s ease-out forwards;
  animation: start 1s ease-out forwards;
  opacity: 1\0; /* IE8, IE9 */
  -webkit-transform: translateX(0)\0; /* IE8, IE9 */
  -ms-transform: translateX(0)\0; /* IE8, IE9 */
  -o-transform: translateX(0)\0; /* IE8, IE9 */
  transform: translateX(0)\0; /* IE8, IE9 */
}

@-webkit-keyframes start {
  0% {
    -webkit-transform: translateX(200px);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1
  }
}

@keyframes start {
  0% {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
}

.col1,
.col2,
.col3 {
  width: 99%;
  margin: 1em auto
}


/*::-webkit-scrollbar {
  width: 20px;
}
 
::-webkit-scrollbar-thumb {
  background: #fff;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}*/


.r-page {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: 0;
  left:0;
  bottom:0;
  opacity: 0;
  color: white;
  z-index: 10;
  padding:10px;

  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform: rotateY(-90deg) translateZ(5em);
  -ms-transform: rotateY(-90deg) translateZ(5em);
  -o-transform: rotateY(-90deg) translateZ(5em);
  transform: rotateY(-90deg) translateZ(5em)
}

.s-page {
  color: white;
  z-index: 10;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}
.page-content{
  overflow-y:auto;
  max-height:100%;
  font-size:.6em;
  padding:.6em;
  text-align:left;
}
/*default colors just in case you don't define these colors on the tiles*/
.s-page, .r-page{
  background-color: white;
  color:black;
}
.page-title {
  margin: .25em 0;
  font-weight: 100;
  font-size: 3em;
  text-align:center;
}

.close-button {
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  position: absolute;
  top: .75em;
  right: .75em;
  cursor: pointer;
  line-height: .8em;
  text-align: center
}

.tile {
  float: left;
  margin: 0 auto 1%;
  color: white;
  font-size: 1.3em;
  text-align: center;
  height: 8em;
  font-weight: 300;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  font-size:32px;
  display:table;
  display:block;
}

.tile-2xbig {
  height: 16.15em;
  width: 100%
}

.tile-big {
  width: 100%
}

.tile img {
  width: 100%;
  height: 70%
}

.tile-caption {
  position: absolute;
  z-index: 1;
  background-color: #455962;
  color: #fff;
  font-size: 1em;
  padding: 1em;
  text-align: left
}

.caption-bottom {
  left: 0;
  bottom: 0;
  right: 0;
  height: auto !important;
	padding: 30px 0 !important;
}

.caption-left {
  left: -100%;
  top: 0;
  bottom: 0;
  width: 40%;
  -webkit-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear
}

.tile:hover .caption-left {
  left: 0
}

/*.tile-small {
  width: 49%;
  margin-right: 2%
}

.tile-small.last {
  margin-right: 0
}*/

.tile div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  padding: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}

.tile div p {
  display: table-cell;
  vertical-align: middle;
  font-size:32px;
  font-family:'aller_rg-webfont';
}

/*styling the individual tiles*/

.tile-1 {
  background-color: #56D9C9;
  color: white
}

.tile-2 {
  background-color: #455962;
  color: white
}

.tile-2:hover {
  background-color: white;
  color: #455962
}

.tile-3 {
  background-color: #ddd;
  color: #455962
}

.tile-3:hover {
  background-color: white;
  color: #455962
}

.tile-5 {
  background-color: #FCC120;
  color: white
}

.tile-5:hover {
  background-color: #fff;
  color: #FCC120
}

.tile-6 {
  background-color: #3EC7F3;
  color: white
}

.tile-7,
.tile-8 {
  background-color: transparent;
}

.tile-10 {
  background-color: #F0514A;
  color: white
}

.tile-10:hover {
  background-color: white;
  color: #F0514A
}

.tile-10 div {
  text-align: left
}

.tile-3 p {
  font-size: 4em;
  margin-top: .5em
}

.tile-5 p,
.tile-6 p {
  font-size: 2em
}

.tile-5 p span,
.tile-6 p span {
  font-size: 1.3em;
  margin-right: .7em;
  position: relative;
  top: .15em
}

.tile-6 p span {
  margin-right: 1em
}

/* slide text inside tile up */

.slideTextUp div:nth-child(2) {
  top: 100%
}

.slideTextUp:hover div {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%)
}

.tile-1 p {
  font-size: 1.3em
}

/* slide text inside tile to the right*/

.slideTextRight div:first-child {
  left: -100%
}

.slideTextRight:hover div {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%)
}

/* slide text inside tile to the left */

.slideTextLeft div:nth-child(2) {
  left: 100%
}

.slideTextLeft:hover div {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

/* rotate tile in 3D*/

.rotate3d {
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  overflow: visible
}

.faces {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -o-transition: -o-transform 1s;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: -o-transform 1s;
  transition: transform 1s;
  display:block !important;
}

.faces div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden
}
.faces .front{/*default*/
  display:table;
  padding:0;
  width:100% !important;
}
.rotate3dX .front {
  background-color: #455962;
  color: #ddd
}
.rotate3dY .front {
  background-color: #ddd;
  color: #455962;
}

.faces .back {
  display:table;
  padding:0;
}

.front span {
  display: table-cell;
  font-size: 0;
  margin-top: 0;
  vertical-align:middle;
}

.rotate3dY .back {
  -webkit-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg )
}

.rotate3dX .back {
  -webkit-transform: rotateX( 180deg );
  -ms-transform: rotateX( 180deg );
  -o-transform: rotateX( 180deg );
  transform: rotateX( 180deg )
}

.back p {
  font-size: 32px;
padding: 0;
font-family: 'aller_rg-webfont';
}

.rotate3dY:hover .faces:hover {
  -webkit-transform: rotateY( 180deg );
  -ms-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg )
}

.rotate3dX:hover .faces:hover {
  -webkit-transform: rotateX( 180deg );
  -ms-transform: rotateX( 180deg );
  -o-transform: rotateX( 180deg );
  transform: rotateX( 180deg )
}

.s-page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: -150%;
  color: white;
  text-align: center;
  font-weight: 300;
  z-index: 1
}

.s-page p {
  font-size: 6em;
  margin-top: 2em;
  font-weight: 100
}

.myform {
  margin: 2em auto;
  width: 300px
}

/* input {
  display: block;
  line-height: 40px;
  padding: 0 10px;
  width: 260px;
  height: 40px;
  float: left
} */

#unlock-button {
  background: black;
  color: white;
  font-size: 1em;
  float: left;
  border: 0;
  height: 2.5em;
  width: 2.5em;
  padding: .3125em;
  text-align: center;
  cursor: pointer;
  border-radius: 2px
}

.delete-button {
  font-size: 0.7em;
  float: right;
  line-height: 25px
}

/*======================= media queries =======================*/

@media screen and (min-width: 43.75em) {
  .col1,
  .col2,
  .col3 {
    float: left;
    margin-right: 1%;
    width: 49%
  }
  .page-title{
    font-size:2.5em;
  }
  .page-content{
    font-size:1em;
  }
  .close-button{
    font-size:2em;
  }
}

@media screen and (min-width: 64em) {
  .col1,
  .col2,
  .col3 {
    float: left;
    margin-right: .5%;
    width: 31%
  }

  .col3 {
    margin-right: 0
  }

  .col1 {
    margin-left: 2em
  }
  .page-title{
    font-size:3.5em;
  }
}


/* prefixed animation keyframes */


@-webkit-keyframes fadeOutBack {
  0% {
    -webkit-transform: translateX(-2em) scale(1);
    transform: translateX(-2em) scale(1);
    opacity: 1
  }

  70% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  95% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  100% {
    -webkit-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }
}

@-webkit-keyframes fadeInForward {
  0% {
    -webkit-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    opacity: 1
  }
}

@-webkit-keyframes rotatePageInFromRight {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }
}

@-webkit-keyframes slidePageLeft {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

@-webkit-keyframes slidePageInFromLeft {
  0% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@-webkit-keyframes slidePageBackLeft {
  0% {
    opacity: 1;
    left: 0;
    -webkit-transform: scale(0.95);
    transform: scale(0.95)
  }

  10% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9)
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%
  }
}

@-o-keyframes fadeOutBack {
  0% {
    -webkit-transform: translateX(-2em) scale(1);
    -ms-transform: translateX(-2em) scale(1);
    -o-transform: translateX(-2em) scale(1);
    transform: translateX(-2em) scale(1);
    opacity: 1
  }

  70% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    -ms-transform: translateZ(-5em) scale(0.6);
    -o-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  95% {
    -webkit-transform: translateZ(-5em) scale(0.6);
    -ms-transform: translateZ(-5em) scale(0.6);
    -o-transform: translateZ(-5em) scale(0.6);
    transform: translateZ(-5em) scale(0.6);
    opacity: 0.5
  }

  100% {
    -webkit-transform: translateZ(-5em) scale(0);
    -ms-transform: translateZ(-5em) scale(0);
    -o-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }
}

@-o-keyframes fadeInForward {
  0% {
    -webkit-transform: translateZ(-5em) scale(0);
    -ms-transform: translateZ(-5em) scale(0);
    -o-transform: translateZ(-5em) scale(0);
    transform: translateZ(-5em) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0) scale(1);
    -ms-transform: translateZ(0) scale(1);
    -o-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1);
    opacity: 1
  }
}

@-o-keyframes rotatePageInFromRight {
  0% {
    -webkit-transform: rotateY(-90deg) translateZ(5em);
    -ms-transform: rotateY(-90deg) translateZ(5em);
    -o-transform: rotateY(-90deg) translateZ(5em);
    transform: rotateY(-90deg) translateZ(5em);
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }
}

@-o-keyframes slidePageLeft {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg) translateZ(0);
    -ms-transform: rotateY(0deg) translateZ(0);
    -o-transform: rotateY(0deg) translateZ(0);
    transform: rotateY(0deg) translateZ(0);
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg)
  }
}

@-o-keyframes slidePageInFromLeft {
  0% {
    opacity: 0
  }

  30% {
    opacity: 1
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@-o-keyframes slidePageBackLeft {
  0% {
    opacity: 1;
    left: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95)
  }

  10% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9)
  }

  70% {
    opacity: 1
  }

  100% {
    opacity: 0;
    left: -150%
  }
}

@-o-keyframes start {
  0% {
    -webkit-transform: translateX(200px);
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(0);
    opacity: 1
  }
}




/*Customised CSS*/
.demo-wrapper{padding:0 25px 25px 25px; background-color:#DCDCDC;}
.dashboard{padding:8px 4px 0 4px;background:#fff;-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);box-shadow: 0 0 5px 0 rgba(0,0,0,.2);border:1px solid #a0a0a0;}
.dashboardCustom{background:none;margin:25px 0;-webkit-box-shadow:none;box-shadow:none;border:none;}
.dashboardCustom .col-centered{margin:0 auto;float:none;background:#fff;overflow:hidden;padding:8px 8px 0 8px;-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2);box-shadow: 0 0 5px 0 rgba(0,0,0,.2);border:1px solid #a0a0a0;}

.caption-right {right: -100%;top: 0;bottom: 0;width: 40%;-webkit-transition: right .3s linear; -o-transition: right .3s linear;
  transition: right .3s linear}
.tile:hover .caption-right {right: 0;}

.padding-small{padding:0 4px;}
.tile-small{padding:0 8px 0 0;float:left;}
.tile-small:last-child{padding:0;}

li{list-style:none;}
.tile {height:185px;margin-bottom:8px;background-size:cover !important;background-position:center center !important;width:100%;}
.tile img{height:100%;width:auto;}

.tile div p{line-height:12px;}

.tile-1 {background:#00babe;}
.tile-1 p{font-size:32px;font-family: 'aller_rg-webfont';}

.tile-2{background:#455962;color:#fff;}
.tile-2 p{font-size:32px;font-family: 'aller_rg-webfont';}

.tile-3{background:#dddddd;}
.tile-3 p{color:#222222;font-family: 'aller_rg-webfont';}

.tile-4{background:#005e97;}
.tile-4 p{color:#fff;font-size:32px;line-height:34px;font-family: 'aller_rg-webfont';}

.tile-7{}
.tile-7 .front{background:#d6c913;color:#313131;}
.tile-7 .back{background:#313131;color:#d6c913;display:table;}
.tile-7 .back p{font-size:32px;padding:0;font-family: 'aller_rg-webfont';}
.fa-custom{display: inline-block;font: normal normal normal 72px/1 FontAwesome;}

.tile-8 .front,.tile-8 .back{background:#f0514a;color:#fff;display:table;}
.tile-8 .back p{font-size:32px;padding:0;font-family: 'aller_rg-webfont';}

.tile-10{height:378px;background:#dd5928;}
.tile-10 p{font-size:32px;padding:0;font-family: 'aller_rg-webfont';text-align:center;}

.tile-xsmall-1 {width: calc(33% - 8px);margin-right: 8px;}
.tile-xsmall-2 {width:calc(34% - 8px);margin-right: 8px;}
.tile-xsmall-3 {width:33%;}
.tile-xsmall-2 p{font-size: 32px;line-height: 34px;font-family: 'aller_bd-webfont';}
.tile-xsmall-2 p i{font-size: 74px;}

.tile-8b .front,.tile-8b .back{background:#da2128;}
.tile-7b .front,.tile-7b .back{background:#dd5928;color:#fff;}

.tile-1b {background:#fcc120;}
.tile-1c {background:#3ec7f3;}

.tile-4.fig-tile .tile-caption{background:rgba(147,147,147,.8);color:#fff;font-size:32px;font-family: 'aller_rg-webfont';text-align:center;line-height:32px;padding:60px 0;}

.caption-bottom{height:107px;font-size:32px;color:#fff;font-family: 'aller_rg-webfont';text-align:center;background:#455962;}

.tile-7c .front{background:#70659a;color:#fff;}
.tile-7c .back{background:#fff;color:#70659a;display:table;}

h2.boldTitle,legend.boldTitle{font-family:'aller_rg-webfont';font-size:34px;color:#484848;margin:0;padding:16px 4px 20px;}

.studentSupport{padding:0 0 0 8px;}

.loginBtn{height:190px;}
.loginBtn .back {background:#c72027;display:table;}
.loginBtn .back p{display: table-cell;vertical-align: middle;color:#fff;font-size:30px;}

.loginBtn .front {background:#455962;display:table;}
.loginBtn .front p{color:#fff;font-size:30px;display: table-cell;vertical-align: middle;}

.assignmentsList{margin-top:40px;}
.assignmentsList p{font-family:'aller_rg-webfont' !important;font-size:12px !important;color:#fff !important;clear:both !important;display:block !important;}
.assignmentsList .table{margin-bottom:0;}
.assignmentsList .table tr{border:none !important;}
.assignmentsList .table tr td{border:none !important;padding:4px 18px;}
.assignmentsList .table tr td p{text-align:left;margin:0;}
.assignmentsList .table tr td p a{color: white; text-decoration: none;font-size:18px;}

.doubleHeight{height: 378px;}
.fig-tile .tile-caption{font-size: 32px;font-family: 'aller_rg-webfont';text-align: center;line-height: 32px;padding: 60px 0;height:auto;}

p.viewAllBtn{position:absolute;z-index:999;font-family: 'aller_bd-webfont';color:#00babe !important;right:5px;top:-35px;font-size:14px !important;line-height:14px !important;}

/*themes*/
.theme-1{background-color:#00babe;color:#fff;}

.theme-2{background-color:#455962;color:#fff;}
.theme-2:hover{background-color:white;color:#455962;}

.theme-3{background-color:#dddddd;color:#455962;}
.theme-3:hover{background-color:white;color:#455962;}

.theme-4{background-color:#005e97;color:#fff;}

.theme-5 .front{background-color:#d6c913;color:#313131;}
.theme-5 .back{background-color:#313131;color: #d6c913;}

.theme-6 .front{background-color:#f0514a;color: #fff;}
.theme-6 .back{background-color:#f0514a;color: #fff;}

.theme-7{background-color:#dd5928;color:#fff;}
.theme-7:hover{background-color:white;color:#dd5928;}

.theme-8 .front{background-color:#70659a;color:#fff;}
.theme-8 .back{background-color:#fff;color: #70659a;}

.theme-9{background-color:#fcc120;color:#fff;}

.theme-10{background-color:#3ec7f3;color:#fff;}

.theme-11 .front{background-color:#dd5928;color:#fff;}
.theme-11 .back{background-color:#dd5928;color: #fff;}

.theme-12 .front{background-color:#da2128;color:#fff;}
.theme-12 .back{background-color:#da2128;color: #fff;}

.theme-13 .tile-caption{background: rgba(147,147,147,.8);color: #fff;}

/* slider */
.tile-1-slider{background:#8a8a8a !important;height:185px;width:100%;}
.carousel-control.left{left:5px;}
.carousel-control.right{right:12px;}

.carousel-control.left{background:none;}
.carousel-control.right{background:none;}
a.carousel-control{height:auto;display:block;background:#d0d0d0 !important;color:#8a8a8a !important;width:50px;height:50px;border-radius:50px;top:50%;margin-top:-25px;font-size:35px;box-shadow:none;text-shadow:none;}

.tile-1-slider  h2,.tile-1-slider  legend{font-family: 'aller_rg-webfont';font-size:32px;text-align:center;display:block;text-shadow:none;}
.tile-1-slider .carousel-caption p{font-family: 'aller_rg-webfont';font-size:13px;display:block;text-align:left;text-shadow:none;margin:80px 0 5px;padding:0 70px;}
.tile-1-slider .carousel-caption h3{font-family: 'aller_rg-webfont';font-size:20px;display:block;text-align:left;text-shadow:none;margin:0;padding:0 70px;}
.tile-1-slider .carousel-caption{padding:0;}
.tile-1-slider .carousel-inner{padding:0;}